body {
background: ;
font-family: candara; 
font-size: 16px;
width: 960px;
margin-left:auto; 
margin-right:auto;
background-color: #000;
}

#contenedor{
background-color:;	
width: 960px;
height: auto;
margin-left:auto; 
margin-right:auto;
}

header{
width: 100%;
height: 90px;	
color: white;
margin-bottom: 2px;
background-color:#000;
}

#logo {
width: 150px;
height: 85px;
padding:0px;
float:left;
margin-left: 90px;
margin-top:5px;
background-color: #000;
}

.navegacion{
width:710px;
margin:15px auto;
float:right;
}

.navegacion ul{
list-style-type: none;
margin:0;
padding: 0;
}

.menu li{
position: relative;
display:inline-block;	
}

.menu li a{
display:block;
padding: 13px 32px;
color: #fff;
text-decoration: none;
font-family: candara;
font-size: 25px;
}

.menu li a:hover {
color: #e67702;	
display: block;
}

.subcarta{
position:absolute;
display:none;	
}

.subcarta li a{
width: 100px;
height: 25px;	
background-color: #000;	
display:block;
padding: 10px 30px;
color: #fff;
text-decoration: none;
font-family: candara;
font-size: 25px;	
}

.menu li:hover .subcarta{
color: #e67702;	
display: block;	
}

.box{
width: 400px;
height: 450px;	
float: left;
margin-top: 10px;
margin-left: 70px;
}

.img-box{
width: 100%;
height: 400px;
overflow: hidden;
}

.img-box img {
height: 100%;
transition: 0.9s;
}

.img-box img:hover{
transform: scale(1.1);	
}

.tittle{
text-align: center;
background-color: #111;
font-size: 25px;
margin-top: 10px;
color: white;	
padding: 5px;
font-family: 'Source Sans Pro', sans-serif;
}

.box2{
width: 400px;
height: 450px;	
float: right;
margin-top: 10px;
margin-right: 70px;
}

#espacio{
width:960px;
height:50px;
float:right;
margin-top: 0px;
}

.rayitas{
text-align: center;
color:#999;
}

footer{
width:960px;
height:120px;
background-color:#000000;
clear:both;
}

#izq{
width: 320px;
height: 120px;
background-color:#000; 	
float:left;
text-align: center;
}

.letracolors{
color: white;
font-size: 14px;
font-family: candara;
} 

.contactohorario{
color:white;
font-size: 16px;
font-family: candara;	
}

#cen-der{
width:640px;
height:120px;	
background-color:#000;
float:right
}

#cen{
width: 320px;
height: 120px;
background-color:#000; 
float:left;
text-align: center;
}

.redes {
	width: 320px;
	margin-right: auto;
	margin-left:-18px;
}
.redes ul li {
	display: inline-block;
	list-style: none;
}

#der{
width: 320px;
height: 120px;
background-color:#000;
float:right;
text-align: center;
}

#foot{
width:100%;
height:20px;
background-color:;
margin-top: 15px;
background-color: #000;
}

.foot{
text-align: center;
color:#999;
font-family: 'Work Sans', sans-serif;
}

@media handheld, screen and (min-width: 600px) and (max-width:1023px){
body {
width: 580px;
}

body {
width: 580px;
}

#contenedor{
width: 580px;
height: auto;
}

header{
width: 580px;
height: auto;
border: double 0px; 
border-color: #999;

}

#logo {
width: 330px;
height: auto;
padding:0px;
float:none;
margin-left: auto;
}

#menu{
width:580px;
height:auto;
float:right;
margin-left: auto;
margin-top:auto;
}

.navegacion{
width:580px;
}

.menu li a{
padding: 10px 20px;
}

.subcarta li a{
padding: 10px 23px;
}

.box{
float: none;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
}

.img-box{
width: 100%;
height: 400px;
overflow: hidden;
}

.box2{
float: none;
margin-top:90px;
margin-right: auto;
margin-left: auto;
}

#espacio{
width:580px;
}

footer{
width:580px;
height:120px;
}

#izq{
width: 320px;
height: 120px;
background-color:#000; 	
float:none;
margin-right: auto;
margin-left:auto;
text-align: center;
}

#cen-der{
width:100%;
height:auto;	
float:right
}

#cen{
width: 50%;
}

.redes {
	width: 100%;
	margin-right: auto;
	margin-left:-18px;
}

#der{
width: 50%;
}
}

@media handheld, screen and (max-width: 599px){
body {
width: 90%;
height:auto;
}

#contenedor{
width: 90%;
height: auto;
}

header{
width: auto;
height: 100%;
}


#logo {
width: 20%;
height: auto;
padding:0px;
float:none;
margin-left: auto;
margin-right: auto;
top:2.5em;
}

#logo img{
width: 100%
height:auto;
}

#menu{
width:100%;
height:auto;
float:none;
}

.navegacion{
width:100%;
margin:15px auto;
}

.menu li{
position: relative;
display:block;	
}

.menu li a{
display:block;
padding: 3%;
width: 94%
color: #fff;
text-decoration: none;
font-family: candara;
font-size: 25px;
text-align: center;
border-radius: 1em;
margin-bottom: 0;
margin-bottom: 2px;
border-bottom-left-radius: 10px; 
}

.subcarta li a{
display:none;
}

.box{
float: none;
margin-top: 65px;
margin-right: auto;
margin-left: auto;
}

.img-box{
width: 100%;
height: 400px;
overflow: hidden;
}

.box2{
float: none;
margin-top:210px;
margin-right: auto;
margin-left: auto;
}

#espacio{
width:100%;
height:auto;
background-color:;
float:right;
margin-top: 0px;
}

footer{
width:100%;
height:auto;
}

#izq{
width: 100%;
height: auto;
}

#cen-der{
width:100%;
height:auto;	
float:right
}

#cen{
width: 100%;
height: auto;
float:none;
margin-left: auto;
margin-right:auto;
text-align: center;

}

.redes {
	width: 90%;
	padding-left: 0px;
	margin-right: 0px;
}

#der{
width: 100%;
height: auto;
}
}
